@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/Yantramanav-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Hebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: var(--color-light-gray);
}

.button {
  display: inline-flex;
  align-items: center;
  block-size: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding-block: 24px;
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header__logo {
  flex-shrink: 0;
}

.header-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu__link {
  position: relative;
  padding-inline: 12px;
  padding-block: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.header-menu__link.is-current::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header__actions {
  display: flex;
  column-gap: 40px;
}

.burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  padding-inline: 8px;
  block-size: 40px;
  aspect-ratio: 1;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.burger-button__bar {
  block-size: 1px;
  inline-size: 6px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

/* *********** BANNER *********** */

.banner {
  padding-block: 36px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
  text-transform: uppercase;
}

.banner__info-inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-block-size: calc(100vh - 162px); /* 90 + 36 + 36 */
  max-width: 2060px;
  padding-inline-start: 70px;
  padding-inline-end: 70px;
}

.banner__info {
  display: flex;
  align-items: end;
  font-weight: 700;
  /* font-size: 30px; */
  font-size: clamp(16px, 2.78vw, 30px); /* 30/1080*100=2.777777 */
  line-height: 1.3;
}

.banner__info::before {
  content: '';
  /* width: 194px; */
  width: min(17.96vw, 194px); /* 194/1080*100=17.96 */

  aspect-ratio: 1;
  margin-right: 30px;
  background-image: url('../icons/bold-arrow-down-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner__title {
  font-weight: 700;
  /* font-size: 360px;  */
  /* font-size: min(18.75vw, 360px); */ /* 360/1920*100=18.75 */
  font-size: min(17.47vw, 360px); /* 360/1080*100=17.47 */
  line-height: 1;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-light);
  opacity: 1;
  transition: border-color var(--transition-duration);
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  border-color: var(--color-light-gray);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-light);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -8px;
}

@media (max-width: 1039.98px) {
  .header__inner {
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu__list {
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .header__inner {
    padding-block: 12px;
    padding-inline: 8px;
  }

  .header-menu__list {
    column-gap: 30px;
  }

  .button {
    padding-inline: 18px;
  }

  .header__actions {
    column-gap: 16px;
  }
}

@media (max-width: 539.98px) {
  .header-menu__list {
    justify-content: start;
    column-gap: 20px;
    row-gap: 20px;
  }

  .header-menu__link {
    padding-inline: 12px;
    padding-block: 0;
  }
}
