@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Heebo';
  src: url('../fonts/Heebo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yantramanav';
  src: url('../fonts/Yantramanav-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;

  --border-radius: 30px;
  --border: 1px solid var(--color-light);

  --font-family-base: 'Hebo', sans-serif;
  --font-family-accent: 'Yantramanav', sans-serif;

  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: var(--color-light-gray);
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px); /* 40/1920*100=2.08 */
  line-height: 1.3;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px); /* 60/1920*100=3.12 */
  line-height: 1.2;
}

.button {
  display: inline-flex;
  align-items: center;
  block-size: 38px;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
}

.button:hover {
  background-color: var(--color-light-gray);
}

.button.button--transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 81px;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}

.button.button--transparent::after {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  border: var(--border);
  border-radius: 50%;
  background-image: url('../images/icons/arrow-top-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.button.button--transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.input {
  height: var(--input-height);
  padding-inline: 25px;
  width: 100%;
  color: var(--color-light);
  background-color: transparent;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
}

.input::placeholder {
  color: var(--color-light-gray);
}

.input:hover {
  border-color: var(--color-light);
}

.input:focus {
  color: var(--color-dark-gray);
  background-color: var(--color-light-gray);
  outline: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding-block: 24px;
  padding-inline: 32px;
  background-color: var(--color-dark-alternate);
}

.header__logo {
  flex-shrink: 0;
}

.header-menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-menu__link {
  position: relative;
  padding-inline: 12px;
  padding-block: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.header-menu__link.is-current::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header__actions {
  display: flex;
  column-gap: 40px;
}

.burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4px;
  padding-inline: 8px;
  block-size: 40px;
  aspect-ratio: 1;
  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}

.burger-button:hover {
  color: var(--color-light-gray);
  border-color: currentColor;
}

.burger-button__bar {
  block-size: 1px;
  inline-size: 6px;
  background-color: currentColor;
  box-shadow: 16px 0 0 currentColor;
}

/* *********** BANNER *********** */

.banner {
  padding-block: 36px;
  color: var(--color-light);
  background-color: var(--color-dark-alternate);
  text-transform: uppercase;
}

.banner__info-inner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-block-size: calc(100vh - 162px); /* 90 + 36 + 36 */
  max-width: 2060px;
  padding-inline-start: 70px;
  padding-inline-end: 70px;
}

.banner__info {
  display: flex;
  align-items: end;
  font-weight: 700;
  /* font-size: 30px; */
  font-size: clamp(16px, 2.78vw, 30px); /* 30/1080*100=2.777777 */
  line-height: 1.3;
}

.banner__info::before {
  content: '';
  /* width: 194px; */
  /* width: min(17.96vw, 194px); 194/1080*100=17.96 */
  width: clamp(60px, 17.96vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background-image: url('../images/icons/bold-arrow-down-right.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner__title {
  font-weight: 700;
  /* font-size: 360px;  */
  /* font-size: min(18.75vw, 360px); */ /* 360/1920*100=18.75 */
  font-size: min(17.47vw, 360px); /* 360/1080*100=17.47 */
  line-height: 1;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-light);
  opacity: 1;
  transition: border-color var(--transition-duration);
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active):hover {
  border-color: var(--color-light-gray);
}

.swiper-pagination-bullet-active {
  background-color: var(--color-light);
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -8px;
}

/* *********** MOTIVATION *********** */

.motivation__item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation__item:nth-child(even) .motivation__card {
  flex-direction: row-reverse;
}

.motivation__card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(30px, 10.42vw, 200px);
}

.card-motivation__image {
  margin-block: -60px;
}

.motivation__item:nth-child(even) .card-motivation__image {
  margin-block-end: 0;
}

.card-motivation__body {
  padding-left: 35px;
}

.card-motivation__title:not(:last-child) {
  margin-bottom: 14px;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}

.backdrop-title::before {
  content: '';
  position: absolute;
  /* left: -34px; */
  right: calc(100% + 8px);
  display: block;
  width: 24px;
  aspect-ratio: 1;
  background-image: url('../images/icons/plus.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.6em;
  font-family: var(--font-family-accent);
  font-size: 2.8em; /* 112/40 */
  color: transparent;
  -webkit-text-stroke: 1px var(--color-light-gray);
  /* text-stroke: 1px var(--color-light-gray); */
}

.card-motivation__description {
  max-width: 400px;
}

.card-motivation__description:not(:last-child) {
  margin-bottom: 37px;
}

/* *********** TRAINING-TIPES *********** */
.training-tipes__inner {
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
}

.training-tipes__image {
  width: 150px;
  height: 140px;
}

.training-tipes__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-tipes__item {
  --trainingTypesItemIconSize: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-top: var(--trainingTypesItemIconSize);
  background-image: url('../images/icons/transparent-arrow-down-left.svg');
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: var(--trainingTypesItemIconSize);
}

.training-tipes__title {
  font-size: 16px;
}

/* *********** JOIN-US *********** */

.join-us {
  background-color: var(--color-dark-alternate);
}

.join-us__video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;
  background: url('../images/join-us-bg.jpg') var(--color-dark-alternate);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.join-us__video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;

  width: 200px;
  aspect-ratio: 1;

  border: var(--border);
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--color-light);
  background-color: transparent;
}

.join-us__btn::after {
  content: '';
  width: 26px;
  aspect-ratio: 1;
  background-image: url('../images/icons/arrow-top-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition-duration: var(--transition-duration);
}

.join-us__btn:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.join-us__btn:hover::after {
  filter: invert(1);
}

.join-us__title {
  position: relative;
  margin-top: -0.4em;
  font-weight: 700;
  font-size: clamp(64px, 9.38vw, 180px); /* 180/1920*100=9.38 */
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.join-us__title::after {
  content: '';
  display: inline-block;
  height: 0.7em; /* 127/180 = 0.7 */
  aspect-ratio: 1;
  background-image: url('../images/icons/bold-arrow-down-right.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  scale: 1 -1;
  margin-left: 0.14em; /* 25/180=0.14 */
}

.join-us__title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us__form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}

.join-us__form-header:not(:last-child) {
  margin-bottom: 52px;
}

.join-us__form-body {
  padding-bottom: 150px;
}

.join-us__form-title.backdrop-title--centered::after {
  left: 50%;
  top: -0.4em;
  transform: translateX(-50%);
}

.join-us__form-subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  color: var(--color-light);
  text-align: center;
}

.join-us__form-input {
  max-width: 400px;
}

.join-us__form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

@media (max-width: 1919.98px) {
  .card-motivation__image {
    margin-block: -20px;
  }
}

@media (max-width: 1279.98px) {
  .training-tipes__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1039.98px) {
  .header__inner,
  .banner__info-inner {
    padding-inline: 15px;
  }

  .header-menu {
    order: 1;
    flex-basis: 100%;
  }

  .header-menu__list {
    justify-content: center;
  }

  .banner__slider {
    padding-block-end: 20px;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 14px;
  }

  .card-motivation {
    padding-block: 50px;
  }

  .card-motivation__image {
    max-width: 30%;
    height: auto;
    margin-block: 0;
  }

  .join-us__form-body {
    padding-bottom: 80px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 80px;
  }
}

@media (max-width: 767.98px) {
  .header__inner {
    padding-block: 12px;
    padding-inline: 8px;
  }

  .header-menu__list {
    column-gap: 30px;
  }

  .button {
    padding-inline: 18px;
  }

  .header__actions {
    column-gap: 16px;
  }

  .banner__info-inner {
    padding-inline: 8px;
  }

  .banner__info::before {
    margin-right: 10px;
  }

  .banner__info-inner {
    row-gap: 5px;
  }

  .card-motivation,
  .motivation__item:nth-child(even) .motivation__card {
    flex-direction: column-reverse;
  }

  .card-motivation__image {
    max-width: 60%;
    height: auto;
    margin-block: 0;
  }

  .card-motivation {
    row-gap: 30px;
    padding-block: 30px;
  }

  .card-motivation__description:not(:last-child) {
    margin-bottom: 20px;
  }

  .training-tipes__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .training-tipes__item {
    --trainingTypesItemIconSize: 50px;

    row-gap: 10px;
  }

  .training-tipes__image {
    max-width: 120px;
  }

  .join-us__btn {
    width: 140px;
  }

  .join-us__title:not(:last-child) {
    margin-bottom: 40px;
  }

  .join-us__form-subtitle {
    font-size: 16px;
  }

  .join-us__form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}

@media (max-width: 539.98px) {
  .header-menu__list {
    justify-content: start;
    column-gap: 20px;
    row-gap: 20px;
  }

  .header-menu__link {
    padding-inline: 12px;
    padding-block: 0;
  }
}
